<div class="container">
  <div class="item">
    <app-card>
      <div class="card__header" card-header>
        <img class="card__image" src="assets/icons/icon-client.png" alt="">
      </div>
      <div class="card__content" card-content>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid provident quidem pariatur recusandae ullam consectetur quod sed ab illo error autem, quaerat, sapiente necessitatibus iusto culpa blanditiis dolores inventore soluta.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem veritatis quisquam minima perspiciatis veniam quis vel similique a quaerat repudiandae dolorem qui quibusdam ad, sit aliquam esse. Adipisci, sit necessitatibus.
        </p>
      </div>
    </app-card>
  </div>
  <div class="item">
    <app-card>
      <div class="card__header card__header--direction-column" card-header>
        <h1>Kuririn da Silva</h1>
        <img class="card__image" src="assets/icons/icon-client.png" alt="">
        <h3> Desenvolvedor front-end</h3>
      </div>
      <div class="card__content" card-content>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid provident quidem pariatur recusandae ullam consectetur quod sed ab illo error autem, quaerat, sapiente necessitatibus iusto culpa blanditiis dolores inventore soluta.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem veritatis quisquam minima perspiciatis veniam quis vel similique a quaerat repudiandae dolorem qui quibusdam ad, sit aliquam esse. Adipisci, sit necessitatibus.
        </p>
      </div>
    </app-card>
  </div>
</div>
